{% extends "blog/base.html" %}
{% block content %}
<strong>The purpose of this social network is connect the the world, to voice out their self will,opinions and verdict about the decisions made by any Government or Adminstration against its people. <br> Be it in a country,school or organisaton  </strong>
<br>

    <h1>This social network was built by CHIBUIKE STEPHEN ANAENUGWU.</h1>
    <h3>STUDIED AT DENNIS MEMORIAL GRAMMER SCHOOL ONITSHA, ANAMBRA, NIGERIA.<br> UNIVERSITY OF NNAMDI AZIKWE
    </br>NIIT COMPUTER TRAINING INSTITUTE ONITSHA

    </h3>
{% endblock content %}
