{% extends "blog/base.html" %}
{% block content %}
    <header style="text-align: center;">
        <h3><strong>TERMS OF SERVICE</strong></h3><br><br>
    </header> 

    <h3 style="font-family: SFMono-Regular;">Welcome to Wetalk !</h3>

    <article>
        WeTalk chat is made in your favour to connect with friends and people that are far away.<br>And to see their opinions over somethings they want you to see. this service provided to you by Wetalk created by Chibuke Stephen Anaenugwu
        <p>We dont charge you to use WeTalk software under these Term. Instead business and organisations pay us to show you ads for their products and services</p><br>
        <p>
            By using our Product, you agree that we can show you ads that we think wiil be relevant to you and your interest.We use your personal data provided to help determine which ads to show you
        </p><br>
        <p>
            We don't sell your personal data to advertisers, we don't share information that directly identifies you (such as your name, e-mail address or other contact information) with advertisers unless you give us specific permission. Instead, advertisers can show us things like the audience they want to see their ads, and we show those ads to those specific
        </p>
        <p>
            please also know that accounts is heavily secured
        </p>
    </article>

{% endblock content %}